<footer id="footer">{{ text_footer }}<br />{{ text_version }}<br>
<center>
<a target="_blank" href="http://forum.felixtheme.com/support/" class="btn btn-success" role="button">Create Free Support Ticket</a>
<a target="_blank" href="http://gccworld.info/doc/felice/index.html" class="btn btn-danger" role="button"><img src="../admin/view/image/small-thumb.png" style="height:40px"> Click here For Felice Theme Documentation (Video Guide)</a>
</center>
</footer>
	<META http-equiv="refresh" content="900;URL=http://www.felixtheme.com/downloads/felice-premium-opencart-theme/">

</div>


</body></html>
